* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Verdana';
    font-size: 15px;
}

.font-seoui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hover:hover {
    background-color: rgb(214, 212, 212);
    cursor: pointer;
}


/* Nav bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 4px;
    height: 55px;
    align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}


.nav-bar .branch {
    display: flex;
    padding: 8px 16px;
    list-style: none; 
}

.branch span {
    font-weight: 700;
}

.nav-bar .infor {
    display: flex;
    list-style: none;

}

.infor li {
    padding: 8px 16px;
}

/* Branch image */
.branch-img {
    position: absolute;
    /* top: 55px; */
}

.branch-img img {
    width: 100%;
}

.branch-name {
    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    color: white;
    font-size: 36px;
    /* transform: translateX(50%); */
    transform: translate(50%);
    line-height: 60px;
    letter-spacing: 4px;
}

.branch-logo {
    background-color: rgba(0, 0, 0, 0.75);
    height: 64px;
    width: 86px;
    font-weight: 700;
    text-align: center;
}

.branch-type {
   padding-left: 16px;
   font-weight: 100;
}